# Storefront Webhooks
VITE_WEBHOOK_GET_PRODUCTS=https://engine.ya7iaahmed.com/webhook/lubbgo/products
VITE_WEBHOOK_POST_ORDER=https://engine.ya7iaahmed.com/webhook/lubbgo/orders

# Admin Webhooks
VITE_WEBHOOK_LOGIN=https://engine.ya7iaahmed.com/webhook/luubgo/admin/login
VITE_WEBHOOK_GET_ADMIN_PRODUCTS=https://engine.ya7iaahmed.com/webhook/lubbgo/admin/products
VITE_WEBHOOK_ADD_PRODUCT=https://engine.ya7iaahmed.com/webhook/lubbgo/admin/product/add
VITE_WEBHOOK_UPDATE_PRODUCT=https://engine.ya7iaahmed.com/webhook/lubbgo/admin/product/update
VITE_WEBHOOK_DELETE_PRODUCT=https://engine.ya7iaahmed.com/webhook/lubbgo/admin/product/delete
VITE_WEBHOOK_GET_ORDERS=https://engine.ya7iaahmed.com/webhook/lubbgo/admin/orders
VITE_WEBHOOK_UPDATE_ORDER_STATUS=https://engine.ya7iaahmed.com/webhook/lubbgo/admin/order/update
VITE_WEBHOOK_TRACK_ORDER=https://engine.ya7iaahmed.com/webhook/lubbgo/admin/order/track